#container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width:800px;
    height: 600px;
}
* {
    box-sizing: border-box;
}
.column {
    width: 32%;
    height: auto;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.col1Square1 {
    width: 100%;
    height: 60%;
    background-color: purple;
    
}
.col1Square2 {
    width: 100%;
    height: 30%;
    margin: 2px 0;
}
.col1Square3 {
    width: 100%;
    height: 10%;
    background-color: aqua;
}
.smallSquare1 {
    width: 50%;
    height: 100%;
    background-color: green;
    margin-right: 2px;
}
.smallSquare2 {
    width: 49.3%;
    height: 29.5%;
    margin-bottom: 2px;
    background-color: pink;
}
.smallSquare3 {
    width: 49.3%;
    height: 69.2%;
    background-color: yellow;
}
.col2Square1 {
    width: 100%;
    height: 75%;

}
.col2SmallSquare1 {
    width: 50%;
    height: 100%;
    background-color: green;
    margin-right: 2px;
}
.col2SmallSquare2 {
    width: 50%;
    height: 30%;
    background-color: aqua;
    margin-bottom: 2px;
}
.col2SmallSquare3 {
    width: 50%;
    height: 69.5%;
    background-color: yellow;
}
.col2Square2 {
    width: 100%;
    height: 25%;
    background-color: purple;
    margin-top: 4px;
}
.col3Square1 {
    width: 100%;
    height: 21.3%;
    background-color: green;
    margin-bottom: 2px;
}
.col3Square2 {
    width: 100%;
    height: 21.3%;
    margin-bottom: 2px;
    
}
.col3SmallSquare1 {
    width: 40%;
    height: 100%;
    background-color:aqua; 
    margin-right: 2px;
}
.col3SmallSquare2 {
    width: 60%;
    height: 100%;
    background-color: yellow;
}
.col3Square3 {
    width: 100%;
    height: 40%;
    background-color: purple;
    margin-bottom: 2px;
}
.col3Square4 {
    width: 100%;
    height: 16.1% ;
    background-color: aqua;
    
}
.borderRadius {
    border-radius: 20px;
}
.topBorderRadius {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.flexDirectionCol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}