body {
    margin: 0;
    padding: 0;
}
.square {
    width:24.77%;
    background-color: rgb(24, 186, 207);
    height: 15px;
    display: inline-block;
    text-align-last: justify;
}
.kvadratai {
    position: absolute;
    width: 100%;
}
.viduryje {
    display: flex;
    height: 50px;
    background-color: rgb(197, 242, 248);
}
.mygt {
    margin: auto;
}
.bold {
    font-weight: bold;
}
.small {
    font-size: small;
}
.footer {
    float: left;
    width: 50%;
    
}
p {
    display: inline-block;
}